

body{
    //background: transparent url('../img/coffe-photo.jpg') center center/cover no-repeat scroll;

    background-image: url('/img/coffee-photo.jpg');
    
}

.main{
    
    display: flex;
    justify-content: flex-end;
    
}

