* {
    box-sizing: border-box;
}
 
html {
    font-size: 16px;
    font-family: sans-serif;
}
 
body {
    margin: 0;
    padding: 0;
}
 
nav {
    width: 20%;
    height: 100vh;
    background-color: #c2e8f9;
    border-right: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
}
 
nav h1 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 30px;
}
 
nav a {
    display: block;
    color: black;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 30px;
}
 
main {
    margin-left: 20%;
}
 
section {
    padding: 50px 15%;
}
 
section h1 {
    font-family: monospace;
    font-size: 32px;
}
 
section code {
    background-color: #c2e8f9;
    border-radius: 2px;
    padding: 10px;
}
 
section ul li {
    margin-bottom: 10px;
}